---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="flex h-screen">
    <main class="flex-1 p-6">
      <h1 class="text-4xl font-bold mb-6">Welcome to Our Store</h1>
      <div>
        <p class="text-lg text-gray-700">
          Browse our wide selection of products and add them to your cart!
        </p>
      </div>
    </main>
  </div>
</Layout>